@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #2C2C2C;
    --secondary: #EE7828;
    --gray: #F2F2F2;
    /* --gray: #f5f6fa; */
    --white: white;
    --secondary_prime: #806D61;
    --secondary_2: #C5BAAA;
    --black: #000;

}

/* General */
* {
    font-family: "Inter", sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.divider{
    display: block;
    height: 0.5px;
    opacity: 0.4;
    background: var(--secondary_2);
}

.text-justify {
    text-align: justify;
}

img {
    object-fit: cover;
}

/* Buttons     */
.btn-primary {
    background: var(--primary);
    color: var(--gray);
    border: none;
    border-radius: 0;
    padding: 12px 26px;
}

.btn-primary-rv {
    background: var(--secondary);
    color: var(--gray);
    font-weight: 600;
    border: none;
    border-radius: 0;
    padding: 14px 34px;
}

.btn-primary:hover {
    background: var(--secondary);
}

.btn-primary:active {
    background: var(--secondary) !important;
}

.btn-primary-rv:hover {
    background: var(--gray);
    color: var(--primary);
}

.btn-primary-rv:active {
    background: var(--gray) !important;
    color: var(--primary) !important;

}

section.top-bar {
    background: var(--primary);
    color: var(--gray);
    font-weight: 200;
}

section.top-bar .container {
    height: 45px;
}

/* Icons */
i.bi.social {
    font-size: 1.25rem;
}

i.bi.social:hover {
    color: var(--secondary);
}

/* Navbar */
nav.navbar {
    height: 80px;
    background: var(--gray);
}

.navbar-brand img {
    width: 45px;
}

nav .navbar-collapse {
    background: var(--gray);
    width: 100%;
    left: 0;
    padding: 16px;
}

nav a.nav-link {
    font-weight: 600;
}

button.navbar-toggler {
    border: none;
    outline: none;
}

button.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand span {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 700;
}

/* Hero Section Styling */
.hero {
    position: relative;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/hero-1.jpg') no-repeat center center/cover;
    /* Background image */
    overflow: hidden;
}

/* Overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.692);
    /* Optional dark overlay */
    z-index: 1;
}

/* Hero content */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero h5 {
    color: var(--secondary);
    margin-bottom: 1rem;
    text-transform: uppercase;
}


.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* About GRP */
section h2 {
    font-weight: 650;
}

section h6 {
    color: var(--secondary);
}

/* Products GRP */
.swiper {
    width: 100%;
    height: 100%;
}



.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.products-grp .card {
    border: none;
    border-radius: 0 !important;
}


/* Breadcrumbs */
section.breadcrumbs{
    position: relative;
    padding: 32px 0;
    color: var(--white);
    background: url('../img/hero-1.jpg') no-repeat center center/cover;
    z-index: 1;
}

section.breadcrumbs::before {
    content: "";
    position: absolute; /* Position it over the entire section */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623); /* Black overlay with 50% opacity */
    z-index: -1; /* Keep it behind the content of the section */
}

/* Our Products */
section.products{
    padding: 32px 0;

    .card{
        border: none ;
        border-radius: 0;
    }   

    .card-title{
        font-size: 1.5rem;
        font-weight: 650;
        margin-bottom: 0;
    }

    .card-text{
        margin-top: 8px;
        font-size: 1.1rem;
    }
}

/* Wrapper for the image */
.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* Add an overlay on hover */
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 , 0, 0.45); /* Semi-transparent black overlay */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

/* Enquiry Now button styling */
.image-container .btn-primary-rv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Above the overlay */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Show the overlay and button on hover */
.image-container:hover::before,
.image-container:hover .btn-primary-rv {
    opacity: 1;
}

/* Optional: Slight zoom effect on the image on hover */
.image-container:hover img {
    transform: scale(1.05);
}

/* Testimonials */
section.testimonials {
    .swiper-slide{
        text-align: center;
        padding: 20px;
        background: var(--gray);
        border-left: 3px solid var(--secondary);        

        h5{
            color: var(--secondary);
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 6px;
        }
        h6{
            color: var(--primary);
        }
    }
}



/* Footer */
footer{
    background: var(--black);
    padding: 32px 0;
    color: var(--gray);
    font-size: 0.9rem;
    h3{ 
        font-size: 1.6rem;
    }

    h5{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .links {
        padding-top: 24px;
    }

    ul{
        li{
            margin-bottom: 16px;
            opacity: 0.85;
        }
    } 

    .support-centre{
        a{
            padding: 12px;
            background: var(--secondary_2);
            color: var(--primary) !important;

            .bi{
                font-size: 1.2rem;
            }
        }

        a:hover{
            opacity: 0.8;
        }
    }
}

section.bottom-footer{
    background: var(--primary);
    color: var(--white);
    padding: 12px 0;
    font-size: 0.9rem;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    z-index: 99; /* Ensure it's above other elements */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--secondary); /* Dark grey background */
    color: var(--black); /* White text */
    cursor: pointer; /* Pointer/hand icon */
    padding: 11px 15px; /* Some padding */
    font-size: 18px; /* Increase font size */

    i.bi{
        font-size: 20px;
        padding: 0;
    }
}

#scrollToTopBtn:hover {
    background-color: var(--primary); /* Darker background on hover */
    color: var(--gray);
}


/* Responsive */

@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        z-index: 100000;
    }
}

@media (max-width: 768px) {
    .mb-n {
        display: none;
    }
}

@media (max-width: 576px) {

    nav.navbar {
        height: 63px;
    }

    .navbar-brand img {
        width: 32px;
    }

    .navbar-brand span {
        font-size: 1.3rem;
        font-weight: 700;
    }

    section.about-grp, section.about-us, section.testimonials {
        margin: 32px auto;
    }

    /* Hero Section */
    .hero {
        position: relative;
        height: calc(100vh - 108px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Overlay */
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.692);
        /* Optional dark overlay */
        z-index: 1;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    /* Products GRP */
    section.products-grp{
        background: var(--gray);
        padding: 32px 0;
    }

    .products-grp .card{
        border: none;
        border-radius: 0;
        h4{
            font-size: 1.15rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    .products-grp .card-body{
        background: var(--secondary);
        color: var(--gray);
        padding: 9px 0;
        margin: 0;
    }


    /* Footer */
    footer img.logo{
        width: 45px;
    }


}